# Переменные для виртуальеного окружения
.env

# Игнорировать скомпилированные Python файлы
__pycache__/
*.py[cod]
*$py.class

# Игнорировать pytest кэш
.pytest_cache/
*.pytest_cache

# Игнорировать конкретные .pyc файлы (на всякий случай)
*.pyc